<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - primary meta tags
    -->
    <title>PokeBattle</title>
    <meta name="title" content="Unigine - Epic Games Made For True Gamers!">
    <meta name="description" content="This is an esports and gaming html template made by codewithsadee">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&family=Work+Sans:wght@600&display=swap"
            rel="stylesheet">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body id="top">

<!--
  - #HEADER
-->

<header class="header active" data-header>
    <div class="container">

        <a href="#" class="logo">
            <img src="https://fontmeme.com/permalink/231121/d2a04a416779d1cf34d9d4bae2b63d9f.png" width="100" height="100" alt="logo">
        </a>

        <nav class="navbar" data-navbar>
            <ul class="navbar-list">

                <li class="navbar-item">
                    <a href="#home" class="navbar-link" data-nav-link>home</a>
                </li>
                <li class="navbar-item">
                    <a href="pokedex.html" class="navbar-link" data-nav-link>pokedex</a>
                </li>
            </ul>
        </nav>

        <a href="../controllers/index.php" class="btn" data-btn>Fazer login</a>

        <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>

    </div>
</header>

<main>
    <article>

        <!--
          - #HERO
        -->

        <div class="hero has-before" id="home">
            <img src="">
            <div class="container">

                <p class="section-subtitle">Entre para a Batalha</p>

                <h1 class="h1 title hero-title">Batalhas Épicas Para <br> Verdadeiros Treinadores!</h1>

                <a href="../controllers/index.php" class="btn" data-btn>Fazer Login</a>

                <div class="hero-banner">
                    <img src="../assets/imgs/logo-pokebattle.png" width="850" height="414" alt="banner" class="w-100">

                    <img src="../assets/imgs/fundo-logo.png" alt="" class="hero-banner-bg">
                </div>

            </div>
        </div>
    </article>
</main>

<!--
  - #FOOTER
-->

<footer class="footer">

    <div class="section footer-top">
        <div class="container">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <img src="https://fontmeme.com/permalink/231121/d2a04a416779d1cf34d9d4bae2b63d9f.png" width="150" height="73" loading="lazy" alt="Unigine logo">
                </a>

                <p class="footer-text">
                    Projeto desenvolvido para fins educacionais por alunos do IFSul - Câmpus Sapucaia Do Sul.
                </p>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/lucas_bissolotti/" target=_blank class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer-list">

                <p class="title footer-list-title has-after">Links Úteis</p>

                <ul>

                    <li>
                        <a href="#" class="footer-link">Home</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Privacidade e Política</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Termos de Uso</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contate-nos</a>
                    </li>

                    <li>
                        <a href="pokedex.html" class="footer-link">Pokedex</a>
                    </li>

                </ul>

            </div>

            <div class="footer-list">

                <p class="title footer-list-title has-after">Contate-nos</p>

                <div class="contact-item">
                    <span class="span">Localização:</span>

                    <address class="contact-link">
                        Av. Copacabana - Piratini, Sapucaia do Sul - RS, 93216-120
                    </address>
                </div>

                <div class="contact-item">
                    <span class="span">Junte-se a nós:</span>

                    <a href="#" class="contact-link">lucasbissolotti.ss064@academico.ifsul.edu.br</a>
                </div>

                <div class="contact-item">
                    <span class="span">Telefone:</span>

                    <a href="#" class="contact-link">+55 (51) 9841-9020</a>
                </div>

            </div>

            <div class="footer-list">

                <p class="title footer-list-title has-after">Não tem uma conta?</p>

                <form action="./index.html" method="get" class="footer-form">
                    <input type="email" name="email_address" required placeholder="Seu Email" autocomplete="off"
                           class="input-field">

                    <a href="../controllers/cadastro.php" class="btn">Cadastre-se Agora</a>
                </form>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                &copy; 2023 Lucas Bissolotti - Matheus Bordinhão. Todos os direitos reservados.
            </p>

        </div>
    </div>

</footer>

<!--
  - #BACK TO TOP
-->

<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
</a>

<!--
  - #CUSTOM CURSOR
-->

<div class="cursor" data-cursor></div>

<!--
  - custom js link
-->

<script src="../assets/js/script.js"></script>

<!--
  - ionicon link
-->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>